{
    "FPS": [
        "01",
        "06210",
        "09430"
    ],
    "LBTN": [
        "03",
        "00550",
        "17340"
    ],
    "RBTN": [
        "04",
        "03750",
        "17230"
    ],
    "a_w": [
        "02",
        "03220",
        "01640"
    ],
    "d_w": [
        "02",
        "03240",
        "04260"
    ],
    "a_s": [
        "02",
        "00780",
        "01870"
    ],
    "d_s": [
        "02",
        "00880",
        "04290"
    ],
    "w": [
        "02",
        "05260",
        "03210"
    ],
    "s": [
        "02",
        "00350",
        "03170"
    ],
    "a": [
        "02",
        "02150",
        "01810"
    ],
    "d": [
        "02",
        "02140",
        "04640"
    ],
    "J_CENTER": [
        "02",
        "02130",
        "03190"
    ]
}